:root{
    --primary-color: #00ad8e;
    --secondary-color: #95fce0;
    --accent1-color: #fcaa62;
    --accent2-color: #fff9eb;
    margin: 100px;
}


h1 {
    font-family: "Questrial", serif;
    font-weight: 400;
    color: #000;
    background-color: var(--accent1-color);
}

p {
    font-family: "Questrial", serif;
    font-weight: 400;
    color: #000;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.title h1 {
    font-size: 50px;
    background-color: var(--accent2-color);
    position: absolute;
	top: 200px;
	right: 450px;
    background:var(--secondary-color);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
}

.title article {
    position: absolute;
    top: 400px;
	right: 50px;
    left: 50px;
    background:var(--primary-color);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    font-size: 23px;
}

.hero article img {
    float: right;
    width: 200px;
    object-fit: cover;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

header img {
    display: block;
    background:var(--primary-color);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
}

header {
    display: grid;
    margin: 10px;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.links {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    column-gap: 100px;
    column-width: 200px;
    justify-content: space-around;
}

.links a {
	color: #5e5e5e;
	padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
	text-decoration: none;
	font-size: 1.5rem;
    border: 1px solid var(--accent1-color);
	text-align: center;
    box-shadow: 0 0 20px var(--accent1-color);
    background-color: var(--secondary-color);
}

.links li {
	flex: 1 1 auto;
}


    


.history {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    flex-direction: column;
}

.history p1 {
    flex-wrap: wrap;
    order: -1;
}

.history img {
    padding-left: 100px;
    padding-top: 30px;
}

section h2 {
    font-size: 40px;
    display: block;
    text-align: center;
}

.adventure {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: start;
    align-content: center;

}

.adventure img {
    max-width: 220px;
    max-height: 200px;
    min-height: 200px;
}

figcaption {
    text-align: center;
    font-size: 25px;
}

.figure1 {
    order: 1;
}

footer{
    display: flex;
    flex: 1 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.wwremployees {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.wwremployees img {
    Width: 200px;
    height:auto;
    margin: 10px;
    padding: 15px;
}

.contactinformation {
    display: flex;
    flex: 1 1;
    justify-content: space-around;
    justify-self: center;
    width: 90%;
    gap: 50px;
}

.infobox {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px 1px;
    background-color: var(--secondary-color);
    text-align: start;
    align-items: center;
    color: #7c7b7b;
    width: 90%;
}

.map {
    order: 2;
    text-align: center;
    box-shadow: 1px 1px 1px 1px;
    background-color: var(--secondary-color);
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 90%;
}

.wwrinformation h1 {
    text-align: center;
}

.contactus legend {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px;
    background-color: var(--accent1-color);
}

.contactus {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    padding: 10px;
    background-color: antiquewhite;
    width: 80%;
}

input[type="text"] {
    font-size: 25px;
}

.message {
    display:grid;
    grid-template-columns: 30% 70%;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: antiquewhite;
    padding: 10px;
    width: 80%;
}

.options {
    font-size: 25px;
    margin-bottom: 30px;
}

textarea {
    font-size: 25px;
    width: 100%;
}

input[type="checkbox"] {
    width: 70px;
}

button {
    margin:5px;
    background-color: var(--primary-color);
    color:rgb(0, 0, 0);
    border:#000;
    border-radius: 5px;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 25px;
    margin: auto;
}

button:hover {
    background-color: var(--secondary-color);
}

body {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 90%;
    height: 200px;
}
